<div class="container">

  <div class="login-signup-btn-wrapper">
    <button class="btn btn-primary" (click)="showLoginContainer = true; showSignUpContainer = false;" >Click here to Login</button>
    <button class="btn btn-warning" (click)="showSignUpContainer = true; showLoginContainer = false; signupSuccess = false;" style="float:right;">Click here to sign up</button>
  </div>
  <div class="login-container" *ngIf="showLoginContainer" >
    <form id="loginForm" [formGroup]="loginForm" >
      <div class="form-group">
        <label>Email :</label>
        <input type="text" name="email" formControlName="email" placeholder="Email"/>
      </div>
      <div class="form-group">
        <label>Password :</label>
        <input type="password" name="password" formControlName="password" placeholder="Password"/>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" (click)="doLogin()">Login</button>
      </div>
    </form>
  </div>
  <div class="signup-container" *ngIf="showSignUpContainer">
    <form id="signupForm" [formGroup]="signupForm" >
      <div class="form-group">
        <label>First Name :</label>
        <input type="text" name="firstName" formControlName="firstName" placeholder="First name"/>
      </div>
      <div class="form-group">
        <label>Last Name :</label>
        <input type="text" name="lastName" formControlName="lastName" placeholder="Last name"/>
      </div>
      <div class="form-group">
        <label>Email :</label>
        <input type="text" name="emailId" formControlName="emailId" placeholder="Email"/>
      </div>
      <div class="form-group">
        <label>Password :</label>
        <input type="password" name="signupPassword" formControlName="signupPassword" placeholder="Password"/>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" (click)="doSignUp()">Sign up</button>
      </div>
    </form>
    <div *ngIf="signupSuccess">
      <p>Signed up successfully. Please login.</p>
    </div>
  </div>
</div>